.App {
  text-align: center;
  height: 100vh;
}

.header {
  background-color: rgb(51, 51, 51);
  width: 800px;
  position: absolute;
  left: 24%;
  
  box-shadow: 0 0 0 4pt #555;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px;
}

li {
  display: inline;
  padding: 0px 40px;
}

li a {
  color: rgb(214, 214, 214);
  font-size: 2em;  
}

.Main {
  background-color: rgb(58, 72, 150);
  height: 100%;
  text-align: center;
}

.instrument {
  height: 100%;
}

.piano, .organ, .synth, .drum  {
  flex-flow: row;
  justify-content: center;
  display: inline-block;
}

.key {
  background-color: rgb(235, 235, 235);
  height: 300px;
  width: 100px;
  float:left;  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 0 2pt #555;
  margin: 2px;
  margin-top: 20vh;
}

.organ > .white {
  background-color: rgb(83, 46, 25);
  color: white;
}

.organ > .key {
  box-shadow: 0 0 0 2pt rgb(37, 37, 37);
}

.synth > .white {
  background-color: rgb(143, 31, 31);
  color: white;
}

.synth > .key {
  box-shadow: 0 0 0 2pt rgb(37, 37, 37);
}

.drum > .white {
  background-color: rgb(85, 85, 85);
  color: white;
  
}

.drum > .key {
  box-shadow: 0 0 0 2pt rgb(37, 37, 37);
}

.key > p {
  position: relative;
  top: 220px;
}

.black {
  background-color: black;
  float: left;
  width: 50px;
  height: 200px;
}

.black > p {
  position: relative;
  top: 120px;
  color: white;
}

#C\#4 {
  position: absolute;
  left: 429px;
}

#D\#4 {
  position: absolute;
  left: 533px;
}

#F\#4 {
  position: absolute;
  left: 742px;
}

#G\#4 {
  position: absolute;
  left: 846px;
}

#A\#4 {
  position: absolute;
  left: 950px;
}


